# To separate your traces from other application
LANGSMITH_PROJECT=deepseek-r1-rag-agent

# The following depend on your selected configuration

# LLM choice:
OPENAI_API_KEY=...
NVIDIA_API_KEY=...

# Retrieval provider

## Milvus cloud:
MILVUS_URL=...
MILVUS_TOKEN=...
MILVUS_USER=...
MILVUS_PASSWORD=...
